{% extends "base.html" %}

{% block title %}Wybór konta OVH{% endblock %}

{% block content %}
    <h2>Wybierz konto OVH</h2>
    <form method="post">
        <select name="account">
            {% for account in accounts %}
                <option value="{{ account.name }}">{{ account.name }}</option>
            {% endfor %}
        </select>
        <button type="submit">Kontynuuj</button>
    </form>
    <a href="{{ url_for('frontend.dashboard.dashboard') }}">Powrót do Dashboardu</a>
{% endblock %}
